@model CartViewModel
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-md-3"><span id="countItems">@Model.Products.Count</span> item(s)</th>
            <th id="name" class="col-md-5"><b>ProductName</b></th>
            <th class="col-md-2"><b>Quantity</b></th>
            <th class="col-md-2"><b>Price</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Index","Product", new { id = product.ProductId })">
                        <img width="140" height="100" class="thumbnailImg" src="@product.ImageSource" />
                    </a>
                </td>
                <td><h4>@product.ProductName</h4></td>
                <td>@product.Quantity</td>
                <td>
                    @if (product.SalePrice == 0)
                    {
                        <h4>
                            $ @Html.DisplayFor(x => product.Price)
                        </h4>
                    }
                    else
                    {
                        <h4>
                            $ @Html.DisplayFor(x => product.SalePrice)
                        </h4>
                    }
                </td>
                <td>
                    <span>
                        <button name="removefromcart" value="@product.ProductId" class="btn btn-group-xs" onclick="removeFromCart(this)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
<h3 class="text-right">Cart Total: <span id="totalcash">@Html.DisplayFor(x => x.TotalPrice)</span></h3>

