@model CartViewModel
<table class="table-hover">
    <thead>
        <tr>
            <td class="col-md-3"><span id="countItems">@Model.Products.Count</span> item(s)</td>
            <td id="name" class="col-md-5"><b>ProductName</b></td>
            <td class="col-md-2"><b>Quantity</b></td>
            <td class="col-md-2"><b>Price</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    <img class="thumbnailImg" src="@product.ImageSource" />
                </td>
                <td><h4>@product.ProductName</h4></td>
                <td>1</td>
                <td>
                    @if (product.SalePrice == 0)
                    {
                        <h4>
                            $ @Html.DisplayFor(x=> product.Price)
                        </h4>
                    }
                    else
                    {
                        <h4>
                            $ @Html.DisplayFor(x => product.SalePrice)
                        </h4>
                    }
                </td>
                <td>
                    <span>
                        <button name="removefromcart" value="@product.ProductId" class="btn btn-group-xs" onclick="RemoveFromCart(this)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="col-md-offset-10">
    <h3>Total: <span id="totalcash">$ @Model.TotalPrice</span></h3>
</div>

