@model ProductViewModel
@{
    ViewBag.Title = "Product Title";
}
@Styles.Render("~/Content/Custom/product.css")
<div name="separator">
    <br />
</div>
<div name="productInfo" class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div name="header" class="row">
                <div class="col-md-9">
                    <h3>@Model.ProductName</h3>
                </div>
                <div id="product-header-right" class="col-md-3">
                    <span class="btn btn-link" style="position:relative">
                        <i class="fa fa-heart-o" style="font-size:18px;color:red"></i>
                        Add to wishlist
                    </span>
                    <span>
                        @*<a class="btn btn-default" href="@Url.Action("EditProduct","Product")" , data-toggle="modal" data-target="#editmodal">
                                <i class="fa fa-edit"></i>
                            </a>*@
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editmodal"><i class="fa fa-edit"></i></button>
                        @Html.Partial("_EditProductModal",
                            new EditProductViewModel
                            {
                                ProductId = Model.ProductId,
                                ProductName = Model.ProductName,
                                Price = Model.Price,
                                SalePrice = Model.SalePrice,
                                Description = Model.Description
                            })
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#confirmmodal"><i class="fa fa-trash"></i></button>
                        @Html.Partial("_ConfirmDeleteModal",
                            new ConfirmActionModel
                            {
                                ID = Model.ProductId,
                                Name = Model.ProductName,
                                Url = Url.Action("DeleteProduct", "Product")
                            })
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media-group">
                <img id="image" src="@Model.ImageSource" alt="Product image" />
            </div>
            <div id="generalinfo">
                <div>
                    @Model.Description
                </div>
                <div id="button-area">
                    @if (Model.SalePrice > 0)
                    {
                        <h4>$ <strike>@Html.DisplayFor(x => x.Price)</strike></h4>
                        <h3>$ @Html.DisplayFor(x=>x.SalePrice)</h3>
                    }
                    else
                    {
                        <h4>$ @Html.DisplayFor(x=>x.Price) </h4>
                    }
                    <button id="buynowbtn" type="button" class="btn btn-lg btn-danger">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
