
<div id="dropdown" class="dropdown">
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Mouse", "Category", "Product", new { type = (int)ProductCategoryEnum.Mouse }, null)</li>
        <li>@Html.ActionLink("Keyboard", "Category", "Product", new { type = (int)ProductCategoryEnum.Keyboard }, null)</li>
        <li>@Html.ActionLink("Monitor", "Category", "Product", new { type = (int)ProductCategoryEnum.Monitor }, null)</li>
        <li>@Html.ActionLink("USB", "Category", "Product", new { type = (int)ProductCategoryEnum.USB }, null)</li>
        <li>@Html.ActionLink("RAM", "Category", "Product", new { type = (int)ProductCategoryEnum.RAM }, null)</li>
        <li>@Html.ActionLink("HDD", "Category", "Product", new { type = (int)ProductCategoryEnum.HDD }, null)</li>
        <li>@Html.ActionLink("SSD", "Category", "Product", new { type = (int)ProductCategoryEnum.SSD }, null)</li>
        <li>@Html.ActionLink("CPU", "Category", "Product", new { type = (int)ProductCategoryEnum.CPU }, null)</li>
        <li>@Html.ActionLink("Laptop", "Category", "Product", new { type = (int)ProductCategoryEnum.Laptop }, null)</li>
        <li>@Html.ActionLink("Graphic Card", "Category", "Product", new { type = (int)ProductCategoryEnum.GraphicCard }, null)</li>
        <li>@Html.ActionLink("Software", "Category", "Product", new { type = (int)ProductCategoryEnum.Software }, null)</li>
        <li>@Html.ActionLink("Desktop", "Category", "Product", new { type = (int)ProductCategoryEnum.Desktop }, null)</li>
    </ul>
</div>