@if (!AccountController.IsLogged)
{
    <div class="login-popup-area column-flex">
        <div class="btn-sign-in">
            <a class="btn btn-block" href="@Url.Action("Index", "Account")">Log In</a>
        </div>
        <span class="text-center"> or </span>
        <div class="btn-sign-in">
            <a href="@Url.Action("SignUp", "Account")" class="btn btn-block">Sign Up</a>
        </div>
    </div>
}
else
{
    <div class="login-popup-area column-flex">
        <div>
            <h5 class="text-center">Hello, @Session["UserFirstName"].ToString()</h5>
        </div>
        <div class="btn-sign-in">
            <a class="btn btn-block" href="@Url.Action("Transactions", "Account")">My Orders</a>
        </div>
        <br />
        <div class="btn-sign-in">
            <a class="btn btn-block" href="@Url.Action("Logout", "Account")">Log Out</a>
        </div>
    </div>
}