@model ProductViewModel

<div class="col-md-3 product-thumbnail">
    <div class="thumbnail">
        <div class="square">
            <a href="@Url.Action("Index","Product", new { id = Model.ProductId })">
                <img class="thumbnailImg" src="@Model.ImageSource" />
            </a>
        </div>
        <div>
            @Html.ActionLink(Model.ProductName, "Index", "Product",
                            new { id = Model.ProductId }, new { title= Model.ProductName,
                                @class = "btn btn-lg btn-block product-link", style = "white-space: normal" })
        </div>
        <div>
            <p class="productname">
                @if (Model.SalePrice > 0)
                {
                    @*<p><strike>@("$ " + Html.DisplayFor(x => x.Price))</strike></p>*@
                    @("$ " + Html.DisplayFor(x => x.SalePrice))
                }
                else
                {
                    @("$ " + Html.DisplayFor(x => x.Price))
                }
            </p>
            <button name="AddtoCart" value="@Model.ProductId"
                    class="btn btn-block btn-warning" title="Add to cart">
                Add to cart
                <i class="fa fa-cart-arrow-down"></i>
            </button>
        </div>
    </div>
</div>
