@model List<ProductViewModel>
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Custom/product-thumbnail.css")

@Html.Partial("Partial/_ModalPopup")
@Html.Hidden("AddToCartUrl", Url.Action("AddToCart", "Cart"))

<div class="jumbotron">
    <a href="@Url.Action("Sales","Product")">
        <img style="width:100%" src="http://www.mediasuperstore.com/image/cache/data/slideshow/electronics_sale_banner-980x280.jpg" />
    </a>
</div>

<div class="row">
    @foreach (var product in Model)
    {
        @Html.Partial("Partial/_ProductThumbnail", product);
    }
</div>
